@import "variables";

:host {
  display: block;
  width: 100%;

  @media (min-width: $desktop-small) {
    padding-top: 3.75rem;
    margin-top: 2rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4rem;
      position: absolute;
      top: -2rem;
      left: 0;
      background-color: $c-primary-lighten;
    }
  }
}

.wrapper {
  max-width: initial;
}
