<!-- <app-search (query)="onSearch($event)"></app-search> -->
<article class="list">
  <div class="wrapper">
    <section class="list__body">
      <ng-container *ngFor="let item of items; index as i">
        <app-item [item]="item"></app-item>
      </ng-container>
      <p class="list__body__empty" *ngIf="noResults">No hay coincidencias</p>
    </section>
  </div>
</article>
