<div class="wrapper">
  <ng-container *ngIf="item; else loading">
    <article class="item">
      <div class="item__image__wrapper">
        <span class="item__image__id">{{ item.name }}</span>
        <ng-container *ngIf="item.image; else dummyImage">
          <img class="item__image" [src]="item.image" />
        </ng-container>
        <ng-template #dummyImage>
          <img class="item__image" [src]="getRandomImage()" />
        </ng-template>
      </div>
      <section class="item__details">
        <header class="item__header">
          <h1 class="item__heading item__header__id">{{ item?.name }}</h1>
          <div class="item__details__wrapper">
            <p class="item__category">
              <ng-container *ngFor="let genre of item?.genres; index as i">
                <span>
                  {{ genre }}
                </span>
              </ng-container>
            </p>
          </div>
        </header>
        <p *ngIf="item.info" class="item__comment">
          <span>{{ item?.info }}</span>
        </p>
        <aside class="item__actions">
          <button class="item__button" (click)="onDelete(item?.key)">
            <svg>
              <use xlink:href="assets/images/sprite.svg#delete" />
            </svg>
          </button>
        </aside>
      </section>
    </article>
  </ng-container>
  <ng-template #loading>
    <h2 class="loading">Cargando...</h2>
  </ng-template>
</div>
