@import "variables";

:host {
  display: block;
  width: 100%;
  padding: 0 1rem;

  @media (min-width: $tablet) {
    margin-top: 2rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4rem;
      position: absolute;
      top: -2rem;
      left: 0;
      background-color: $c-primary-lighten;
    }
  }
}

.wrapper {
  margin: 0 0 3rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
  }

  &__details {
    padding: 2rem 1.5rem;
    color: $c-primary-lighten;
    background-color: $c-white;

    @media (min-width: $tablet-small) {
      position: relative;
    }
    @media (min-width: $tablet) {
      --factor: 0.75;
      width: percentage(9 / 12);
      padding: calc(85px * var(--factor)) calc(64px * var(--factor))
        calc(85px * var(--factor)) calc(140px * var(--factor));
      border-right: 1.25rem solid $c-primary;
    }
    @media (min-width: $desktop) {
      --factor: 1;
      border-right-width: 3rem;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      @media (min-width: $desktop) {
        margin-bottom: 3rem;
      }
    }
  }

  &__image {
    --factor: 0.6;
    display: block;
    width: calc(20.375rem * var(--factor));
    height: calc(31.25rem * var(--factor));
    object-fit: cover;
    border-bottom: 0.5rem solid $c-secondary;
    position: relative;
    z-index: 1;

    @media (min-width: $mobile) {
      --factor: 0.75;
    }
    @media (min-width: $tablet) {
      width: 28vw;
      height: 22rem;
      border-bottom: 0;
      border-top: 0.5rem solid $c-secondary;
    }
    @media (min-width: $desktop-small) {
      width: 16rem;
    }
    @media (min-width: $desktop-large) {
      --factor: 1;
      width: calc(20.375rem * var(--factor));
      height: calc(31.25rem * var(--factor));
      border-top-width: 1rem;
    }

    &__wrapper {
      padding: 2rem 1.5rem 0;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 14rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $c-white;
      }

      @media (min-width: $tablet) {
        padding: 0;
        position: absolute;
        top: 7rem;
        left: 1rem;

        &::before {
          display: none;
        }
      }
      @media (min-width: $desktop) {
        top: 8rem;
        left: 3rem;
      }
    }

    &__id {
      font-family: $ff-primary;
      font-weight: 700;
      font-size: 2rem;
      color: $c-primary;
      position: absolute;
      top: 2rem;
      left: 14.5rem;

      @media (min-width: $mobile) {
        left: 18rem;
      }
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__header {
    font-family: $ff-primary;
    color: $c-primary;

    &__id {
      display: none;

      @media (min-width: $tablet) {
        display: inline-block;
      }
    }
  }

  &__heading {
    margin-bottom: 0.5rem;
    font-size: 1.785rem;

    @media (min-width: $desktop) {
      font-size: 2.25rem;
    }
  }

  &__subheading {
    margin-bottom: 0.5rem;
    font-size: 1.375rem;
  }

  &__category {
    font-size: 1rem;
    color: $c-primary-darken;

    > span {
      margin-right: 0.25rem;

      &:not(:last-child)::after {
        content: ",";
      }
    }

    @media (min-width: $desktop) {
      font-size: 1.125rem;
    }
  }

  &__comment {
    margin-bottom: 2.5rem;
    font-family: $ff-secondary;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    color: $c-primary-lighten;
  }

  &__actions {
    display: flex;
    margin-top: 2rem;

    @media (min-width: $tablet-small) {
      margin-top: 0;
      position: absolute;
      top: -12rem;
      right: 2rem;
    }
    @media (min-width: $tablet) {
      top: 2rem;
      right: 2.5rem;
      z-index: 1;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: $c-primary-lighten;
    border: 0;
    background-color: transparent;
    transition: opacity 200ms;
    cursor: pointer;

    @media (min-width: $tablet-small) {
      flex: initial;
    }

    & + & {
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: 0.8;
    }

    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.loading {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  font-family: $ff-primary;
  font-size: 1.125rem;
  font-weight: 400;
  color: $c-primary-lighten;

  @media (min-width: $tablet) {
    margin-top: 6rem;
  }
}
