@import "variables";

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-small) {
    flex-direction: row;
  }
}

main {
  flex-grow: 1;

  @media (min-width: $desktop-small) {
  }
}
