@import "variables";
@import "layout";

:host {
  display: block;
  padding: 0 1rem;
  background-color: $c-primary;

  @media (min-width: $desktop-small) {
    flex: 0 0 25%;
    max-width: 20rem;
  }
}

a {
  color: $c-white;
  text-decoration: none;
  transition: all 250ms;
}

.wrapper {
  padding: 1rem 0;

  @media (min-width: $desktop-small) {
    position: fixed;
    width: calc(25% - 2rem);
    max-width: 18rem;
    flex-direction: column;
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.logo {
  transform: scale(0.9);
  transition: transform 300ms cubic-bezier(0.46, 1.1, 0.69, 1.19);

  > svg {
    --factor: 0.5;
    display: block;
    width: calc(1.5625rem * var(--factor));
    height: calc(2.875rem * var(--factor));

    @media (min-width: $tablet-small) {
      --factor: 1;
    }
  }

  @media (min-width: $desktop-small) {
    margin-bottom: 5rem;
  }

  &:hover {
    transform: none;
  }
}

.nav {
  margin-left: auto;

  @media (min-width: $desktop-small) {
    margin-left: 0;
  }

  &__list {
    display: flex;

    @media (min-width: $desktop-small) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 0.5rem;

    &__link {
      display: flex;
      align-items: center;
      padding: 1.25rem 0;
      font-size: 1rem;
      border: 0;
      border-radius: 0.25rem;
      background-color: transparent;
      position: relative;
      color: $c-white;
      cursor: pointer;

      > * {
        position: relative;
        z-index: 1;
      }

      @media (min-width: $mobile) {
        padding: 1.25rem 0.5rem;
        font-size: 1.125rem;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.75rem;
        background-color: $c-white;
        opacity: 0;
        position: absolute;
        bottom: 1.125rem;
        left: 0;
        z-index: 0;
        transform: scaleY(0);
        transform-origin: center bottom;
        transition: all 250ms;
      }

      &:hover {
        &::before {
          opacity: 0.2;
          transform: none;
        }
      }

      // STATES
      &.is-active {
        color: $c-white;

        &::before {
          opacity: 0.2;
          transform: none;
        }
      }
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $tablet) {
        margin-right: 0.5rem;
      }
    }
  }
}
