<header class="wrapper">
  <a class="logo" routerLink="/">
    <svg>
      <use xlink:href="assets/images/sprite.svg#logo" />
    </svg>
  </a>

  <nav class="nav">
    <ul class="nav__list">
      <li *ngFor="let menuItem of menu; index as i" class="nav__item">
        <a
          [routerLink]="menuItem.link"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav__item__link"
        >
          <span>{{ menuItem.text }}</span></a
        >
      </li>
    </ul>
  </nav>
</header>
