@import "variables";

:host {
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  font-family: $ff-primary;
  text-align: center;
  background-color: $c-primary;
  background-color: transparent;

  @media (min-width: $desktop-small) {
    padding-top: 3.75rem;
    margin-top: 2rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4rem;
      position: absolute;
      top: -2rem;
      left: 0;
      background-color: $c-primary-lighten;
    }
  }
}

.wrapper {
  flex-direction: column;
}

.form-field {
  flex: 0 0 55%;
}

.add {
  color: $c-primary;

  &__heading {
    max-width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: $c-primary;

    @media (min-width: $tablet) {
      margin-top: 3rem;
      font-size: 1.875rem;
    }
  }

  &__form {
    width: 100%;
    max-width: 28.75rem;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
