<section class="wrapper">
  <h2 class="add__heading">Añade una banda</h2>
  <form
    class="add__form"
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"
    novalidate
  >
    <input formControlName="key" type="hidden" />

    <div class="add__body">
      <div class="form-field">
        <input
          formControlName="bandName"
          type="text"
          placeholder="Escribe el nombre de la banda"
          #input
        />
        <small
          *ngIf="
            (form.controls.bandName.errors?.required ||
              form.controls.bandName.errors?.pattern) &&
            (form.controls.bandName.dirty || form.controls.bandName.touched)
          "
        >
          Indica el nombre de la banda
        </small>
      </div>
      <div class="form-field">
        <input
          formControlName="metaDescription"
          type="text"
          placeholder="Describe la banda"
          #input
        />
      </div>
      <div class="form__row">
        <div class="form__col">
          <div class="form-field form-field--full">
            <textarea
              formControlName="info"
              id="info"
              placeholder="Escribe algo sobre la banda..."
            ></textarea>
            <small
              *ngIf="
                (form.controls.info.errors?.required ||
                  form.controls.info.errors?.pattern) &&
                (form.controls.info.dirty || form.controls.info.touched)
              "
            >
              Añade una biografía
            </small>
          </div>
        </div>
      </div>

      <div class="form-field mb-0">
        <button class="btn" [disabled]="!form.valid">Guardar</button>
      </div>
    </div>
  </form>
</section>
