<section class="wrapper">
  <h2 class="search__heading">¿Qué quieres encontrar?</h2>
  <form class="search__form" [formGroup]="searchForm" novalidate>
    <div class="search__body">
      <select
        name="filter"
        class="search__filters"
        id="filter"
        formControlName="filter"
      >
        <option value="name">Banda</option>
        <option value="info">Biografía</option>
      </select>
      <div class="form-field mb-0">
        <input
          formControlName="queryField"
          type="search"
          placeholder="Escribe tu búsqueda..."
          #input
        />
      </div>
    </div>
  </form>
</section>

<article
  class="list"
  [ngClass]="hasSearched ? 'list--visible' : 'list--not-visible'"
>
  <div class="wrapper">
    <section class="list__body">
      <ng-container *ngFor="let item of items; index as i">
        <app-item [item]="item"></app-item>
      </ng-container>
      <p class="list__body__empty" *ngIf="noResults">No hay coincidencias</p>
    </section>
  </div>
</article>
