@import "variables";

@mixin button($color: $c-white, $bgcolor: $c-primary) {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  color: $color;
  border: 0;
  border-radius: 1.5rem;
  background-color: $bgcolor;
  transition: background-color 250ms;
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not([disabled]) {
    background-color: $c-primary;
  }
}

.btn {
  @include button($c-white, $c-primary);
}
