@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Sanchez&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-style: normal;
}

:root {
  --serif-1: "Merriweather", serif;
  --sans-serif: "Noto Sans JP", serif;
}
