// Screen reader only utility
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

%wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}

.wrapper {
  @extend %wrapper;
}

.list {
  width: 100%;
  padding: 0 1rem;
  margin: 3rem 0;

  @media (min-width: $desktop-small) {
    padding: 0 3rem;
  }

  // STATES
  &--not-visible {
    display: none;
  }
  &--visible {
    display: block;
  }

  &__body {
    display: grid;
    grid-gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    width: 100%;

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: dense;

      > *:nth-child(2n + 3) {
        grid-column: span 2;
      }
    }

    &__empty {
      font-family: $ff-primary;
      font-size: 1.125rem;
      font-weight: 400;
      color: $c-primary;
    }
  }
}
