:root {
  --c-white: #f8f8f8;
  --c-black: #303030;

  --c-gray-100: #9ea0a5;
  --c-gray-200: #9ea0a5;
  --c-gray-300: #9ea0a5;

  --c-primary: #2f6079;
  --c-primary-lighten: #4b86a4;
  --c-primary-darken: #15303e;

  --c-secondary: #ecc248;
  --c-secondary-lighten: #ffe38e;
  --c-secondary-darken: #7a6525;
}
