.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.fb-100 {
  flex-basis: 100% !important;
}

.justify-end {
  justify-content: flex-end !important;
}
