// FONTS
// -------------------
$ff-primary: var(--serif-1, "Merriweather" serif);
$ff-secondary: var(--sans-serif, "Noto Sans JP" serif);

// FONT WEIGHTS
// -------------------
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// COLOURS
// -------------------
// DEFAULT
$c-white: var(--c-white, #f8f8f8);
$c-black: var(--c-black, #303030);

$c-gray-100: var(--c-gray-100, #9ea0a5);
$c-gray-200: var(--c-gray-200, #9ea0a5);
$c-gray-300: var(--c-gray-300, #9ea0a5);

$c-background: #f1f1f1;

// MAIN PALETTE
$c-primary: var(--c-primary, #2f6079);
$c-primary-lighten: var(--c-primary-lighten, #4b86a4);
$c-primary-darken: var(--c-primary-darken, #15303e);

$c-secondary: var(--c-secondary, #ee2c9d);
$c-secondary-lighten: var(--c-secondary-lighten, #f557b3);
$c-secondary-darken: var(--c-secondary-darken, #a82070);

// THEMES
$c-blue-100: #1e1f26;
$c-blue-200: #283655;
$c-blue-300: #4d648d;
$c-blue-400: #d0e1f9;

// STATES
$error-color: rgb(230, 11, 59);
$success-color: rgb(82, 216, 21);

// BREAKPOINTS
// -------------------
$mobile: 23.75em;
$tablet-small: 33.125em;
$tablet-medium: 42.5em;
$tablet: 48em;
$desktop-small: 64em;
$desktop: 75em;
$desktop-large: 87.5em;
