@import "variables";

.item {
  display: block;
  text-decoration: none;
  border-radius: 0.375rem;
  background-color: $c-white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 200ms;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: 14rem;
    object-fit: cover;
    transition: all 250ms;
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
  }

  &__body {
    padding: 1rem;
    font-size: 1.125rem;
    color: $c-primary;
  }

  &__heading {
    font-size: 1.125rem;
    font-weight: 500;
    color: $c-primary-lighten;
  }

  &__text {
    padding: 0.5rem 1.5rem;
    margin: 1rem -1.5rem -1rem;
    font-size: 1rem;
    color: $c-white;
    background-color: $c-primary-lighten;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $c-primary-lighten;
      clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    }

    > span {
      position: relative;
      z-index: 1;
    }
  }
}
