<article class="list__item">
  <a
    class="item"
    [routerLink]="['/detalle', item.id]"
    (click)="onGetDetails(item)"
  >
    <img class="item__image" [src]="item.image" />
    <div class="item__body">
      <p class="item__heading">{{ item.name }}</p>
    </div>
  </a>
</article>
